## Importing the requirements

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Exploring Dataset 1

In [5]:
df = pd.read_csv('/home/user/Documents/ML_DL_PROJECTS/CreditCardFraudDetectionMLProject/dataset/credict_card_data.csv')

In [3]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
1,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
2,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
3,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
4,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0

In [4]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [5]:
df.isna().sum()

LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

In [6]:
df.dtypes

LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
dtype: object

In [7]:
df.duplicated().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   1001 non-null   int64
 1   SEX                         1001 non-null   int64
 2   EDUCATION                   1001 non-null   int64
 3   MARRIAGE                    1001 non-null   int64
 4   AGE                         1001 non-null   int64
 5   PAY_0                       1001 non-null   int64
 6   PAY_2                       1001 non-null   int64
 7   PAY_3                       1001 non-null   int64
 8   PAY_4                       1001 non-null   int64
 9   PAY_5                       1001 non-null   int64
 10  PAY_6                       1001 non-null   int64
 11  BILL_AMT1                   1001 non-null   int64
 12  BILL_AMT2                   1001 non-null   int64
 13  BILL_AMT3                   1001 non-null   int64
 14  BILL_AMT4                   1001 non-null   int64
 15  BILL_AMT5                   1001 non-null   int64
 16  BILL_AMT6                   1001 non-null   int64
 17  PAY_AMT1                    1001 non-null   int64
 18  PAY_AMT2                    1001 non-null   int64
 19  PAY_AMT3                    1001 non-null   int64
 20  PAY_AMT4                    1001 non-null   int64
 21  PAY_AMT5                    1001 non-null   int64
 22  PAY_AMT6                    1001 non-null   int64
 23  default payment next month  1001 non-null   int64
dtypes: int64(24)
memory usage: 187.8 KB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
LIMIT_BAL,1001.0,167532.467532,130587.921320,10000.0,50000.0,140000.0,240000.0,700000.0
SEX,1001.0,1.589411,0.492187,1.0,1.0,2.0,2.0,2.0
EDUCATION,1001.0,1.776224,0.750916,1.0,1.0,2.0,2.0,6.0
MARRIAGE,1001.0,1.604396,0.532298,0.0,1.0,2.0,2.0,3.0
AGE,1001.0,34.945055,9.219760,21.0,28.0,33.0,41.0,75.0
PAY_0,1001.0,-0.004995,1.173446,-2.0,-1.0,0.0,0.0,8.0
PAY_2,1001.0,-0.161838,1.228732,-2.0,-1.0,0.0,0.0,7.0
PAY_3,1001.0,-0.164835,1.262459,-2.0,-1.0,0.0,0.0,7.0
PAY_4,1001.0,-0.283716,1.184662,-2.0,-1.0,0.0,0.0,7.0
PAY_5,1001.0,-0.283716,1.170224,-2.0,-1.0,0.0,0.0,7.0
PAY_6,1001.0,-0.314685,1.203276,-2.0,-1.0,0.0,0.0,7.0
BILL_AMT1,1001.0,49386.738262,72657.966256,-14386.0,3128.0,21075.0,59901.0,507726.0
BILL_AMT2,1001.0,47879.345654,72090.718188,-13543.0,3274.0,20400.0,58472.0,509229.0
BILL_AMT3,1001.0,44925.682318,69545.948045,-9850.0,1940.0,19292.0,54477.0,499936.0
BILL_AMT4,1001.0,40748.408591,68206.929510,-3684.0,1423.0,17710.0,48851.0,628699.0
BILL_AMT5,1001.0,39078.666334,63108.238729,-28335.0,1206.0,17580.0,46404.0,484612.0
BILL_AMT6,1001.0,38012.011988,63074.415024,-339603.0,830.0,15846.0,46557.0,473944.0
PAY_AMT1,1001.0,5382.339660,12180.755275,0.0,1000.0,2184.0,5090.0,199646.0
PAY_AMT2,1001.0,5051.400599,15626.153184,0.0,390.0,1710.0,4500.0,285138.0
PAY_AMT3,1001.0,4176.149850,10514.647502,0.0,228.0,1206.0,3720.0,133657.0
PAY_AMT4,1001.0,4671.488511,13269.943983,0.0,148.0,1398.0,4000.0,188840.0
PAY_AMT5,1001.0,5331.049950,16812.536877,0.0,189.0,1306.0,3745.0,195599.0
PAY_AMT6,1001.0,5090.704296,23658.888052,0.0,0.0,1250.0,3784.0,528666.0
default payment next month,1001.0,0.213786,0.410183,0.0,0.0,0.0,0.0,1.0

In [10]:
df1 = pd.read_csv('/home/user/Documents/ML_DL_PROJECTS/CreditCardFraudDetectionMLProject/data/creditcard.csv')

In [11]:
df1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

## Exploring Dataset 2

In [12]:
df1.shape

(284807, 31)

In [13]:
df1.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [14]:
df1.Class.value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [15]:
df1.Class.value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

## Exploring Dataset 3

In [16]:
df2 = pd.read_csv('/home/user/Documents/ML_DL_PROJECTS/CreditCardFraudDetectionMLProject/data/fraudTrain.csv')

In [17]:
df2.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [18]:
df2.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [19]:
df2.shape

(1296675, 23)

In [20]:
df2['is_fraud'].value_counts()

is_fraud
0    1289169
1       7506
Name: count, dtype: int64

## Trying correlation factor for feature selection

In [21]:
correlation = df.corr()['default payment next month'].abs().sort_values(ascending=False)
threshold = 0.5
selected_features = correlation[correlation > threshold].index.tolist()
print("Selected Features:")
print(selected_features)

Selected Features:
['default payment next month']

In [22]:
correlation = df1.corr()['Class'].abs().sort_values(ascending=False)
threshold = 0.5
selected_features = correlation[correlation > threshold].index.tolist()
print("Selected Features:")
print(selected_features)

Selected Features:
['Class']

In [23]:
correlation = df2.drop(['trans_date_trans_time','unix_time'],axis=1).select_dtypes(exclude=['object']).corr()['is_fraud'].abs().sort_values(ascending=False)
threshold = 0.5
selected_features = correlation[correlation > threshold].index.tolist()
print("Selected Features:")
print(selected_features)

Selected Features:
['is_fraud']

## Getting fixed with the df itself

In [24]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
1,50000,1,1,2,37,0,0,0,0,0,...,19394,19619,20024,2500,1815,657,1000,1000,800,0
2,500000,1,1,2,29,0,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
3,100000,2,2,2,23,0,-1,-1,0,0,...,221,-159,567,380,601,0,581,1687,1542,0
4,140000,2,3,1,28,0,0,2,0,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0

In [25]:
df['default payment next month'].value_counts()

default payment next month
0    787
1    214
Name: count, dtype: int64

## Code for upsampling the minority class

In [6]:
from sklearn.utils import resample
majority_class = df[df['default payment next month']==0]
minority_class = df[df['default payment next month']==1]
minority_upsampled = resample(minority_class, 
                              replace=True,    
                              n_samples=len(majority_class),
                              random_state=42) 
upsampled_df = pd.concat([majority_class, minority_upsampled])
print(upsampled_df['default payment next month'].value_counts())

default payment next month
0    787
1    787
Name: count, dtype: int64

## Splitting the dataset into train and test for actual df and and Model Training

In [7]:
from sklearn.model_selection import train_test_split

In [28]:
x = df.drop('default payment next month',axis=1)
y = df['default payment next month']

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [32]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [10]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,recall_score,precision_score

In [34]:
xgb_clz = XGBClassifier()
xgb_clz.fit(x_train,y_train)
y_pred = xgb_clz.predict(x_test)

In [35]:
accuracy_score(y_test,y_pred)

0.8366533864541833

In [36]:
precision_score(y_test,y_pred)

0.5

In [37]:
recall_score(y_test,y_pred)

0.36585365853658536

In [38]:
from sklearn.model_selection import RandomizedSearchCV

In [40]:
params = {
    'learning_rate': [0.01, 0.1, 0.3],
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 5, 7],
    'min_child_weight': [1, 3, 5],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'gamma': [0, 0.1, 0.3],
    'reg_lambda': [0.1, 1.0, 10.0],
    'reg_alpha': [0.1, 1.0, 10.0],
    'scale_pos_weight': [1, 3, 5]
}
xgb_rscv = RandomizedSearchCV(xgb_clz,param_distributions=params,n_iter=50,verbose=1)
xgb_rscv.fit(x_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

RandomizedSearchCV(estimator=XGBClassifier(base_score=None, booster=None,
                                           callbacks=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, device=None,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, feature_types=None,
                                           gamma=None, grow_policy=None,
                                           importance_type=None,
                                           interaction_constraints=None,
                                           learning_rate=None...
                                           num_parallel_tree=None,
                                           random_state=None, ...),
                   n_iter=50,
                   param_distributions={'colsample_bytree': [0.6, 0.8, 1.0],
                                        'gamma': [0, 0.1, 0.3],
                                        'learning_rate': [0.01, 0.1, 0.3],
                                        'max_depth': [3, 5, 7],
                                        'min_child_weight': [1, 3, 5],
                                        'n_estimators': [100, 200, 300],
                                        'reg_alpha': [0.1, 1.0, 10.0],
                                        'reg_lambda': [0.1, 1.0, 10.0],
                                        'scale_pos_weight': [1, 3, 5],
                                        'subsample': [0.6, 0.8, 1.0]},
                   verbose=1)

In [41]:
xgb_rscv.best_params_

{'subsample': 0.8,
 'scale_pos_weight': 1,
 'reg_lambda': 0.1,
 'reg_alpha': 1.0,
 'n_estimators': 300,
 'min_child_weight': 1,
 'max_depth': 5,
 'learning_rate': 0.01,
 'gamma': 0.3,
 'colsample_bytree': 0.6}

In [43]:
xgb_rscv.best_score_

0.7786666666666667

In [44]:
accuracy_score(y_test,xgb_clz.predict(x_test))

0.8366533864541833

## Splitting the data into train and test for upsampled df and Model Training

In [45]:
x = upsampled_df.drop('default payment next month',axis=1)
y = upsampled_df['default payment next month']

In [46]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [47]:
scaler = StandardScaler()

In [48]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [49]:
xgb_clz = XGBClassifier()
xgb_clz.fit(x_train,y_train)
y_pred = xgb_clz.predict(x_test)

In [50]:
accuracy_score(y_test,y_pred)

0.916243654822335

In [51]:
precision_score(y_test,y_pred)

0.8697674418604651

In [52]:
recall_score(y_test,y_pred)

0.9739583333333334

In [53]:
print(confusion_matrix(y_test,y_pred))

[[174  28]
 [  5 187]]

In [54]:
params = {
    'learning_rate': [0.01, 0.1, 0.3],
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 5, 7],
    'min_child_weight': [1, 3, 5],
    'subsample': [0.6, 0.8, 1.0],
    'colsample_bytree': [0.6, 0.8, 1.0],
    'gamma': [0, 0.1, 0.3],
    'reg_lambda': [0.1, 1.0, 10.0],
    'reg_alpha': [0.1, 1.0, 10.0],
    'scale_pos_weight': [1, 3, 5]
}
xgb_rscv = RandomizedSearchCV(xgb_clz,param_distributions=params,n_iter=50,verbose=1)
xgb_rscv.fit(x_train,y_train)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

RandomizedSearchCV(estimator=XGBClassifier(base_score=None, booster=None,
                                           callbacks=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None, device=None,
                                           early_stopping_rounds=None,
                                           enable_categorical=False,
                                           eval_metric=None, feature_types=None,
                                           gamma=None, grow_policy=None,
                                           importance_type=None,
                                           interaction_constraints=None,
                                           learning_rate=None...
                                           num_parallel_tree=None,
                                           random_state=None, ...),
                   n_iter=50,
                   param_distributions={'colsample_bytree': [0.6, 0.8, 1.0],
                                        'gamma': [0, 0.1, 0.3],
                                        'learning_rate': [0.01, 0.1, 0.3],
                                        'max_depth': [3, 5, 7],
                                        'min_child_weight': [1, 3, 5],
                                        'n_estimators': [100, 200, 300],
                                        'reg_alpha': [0.1, 1.0, 10.0],
                                        'reg_lambda': [0.1, 1.0, 10.0],
                                        'scale_pos_weight': [1, 3, 5],
                                        'subsample': [0.6, 0.8, 1.0]},
                   verbose=1)

## Removing Outliers and Model Training

In [52]:
num_df = upsampled_df.select_dtypes(exclude=object)
z_scores = ((num_df - num_df.mean()) / num_df.std()).abs()
outliers_z = (z_scores > 3).any(axis=1)
outliers_indices_z = outliers_z[outliers_z].index
Q1 = num_df.quantile(0.25)
Q3 = num_df.quantile(0.75)
IQR = Q3 - Q1
outliers_iqr = ((num_df< (Q1 - 1.5 * IQR)) | (num_df > (Q3 + 1.5 * IQR))).any(axis=1)
outliers_indices_iqr = outliers_iqr[outliers_iqr].index
li = []
for i in outliers_indices_z:
    if(i in outliers_indices_iqr):
        li.append(i)

In [53]:
len(li)

206

In [54]:
df3 = upsampled_df.drop(li)

In [55]:
x = df3.drop('default payment next month',axis=1)
y = df3['default payment next month']

In [56]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [57]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [58]:
xgb_clz = XGBClassifier()
xgb_clz.fit(x_train,y_train)
y_pred = xgb_clz.predict(x_test)

In [59]:
accuracy_score(y_test,y_pred)

0.9181286549707602

In [60]:
precision_score(y_test,y_pred)

0.8677248677248677

In [61]:
recall_score(y_test,y_pred)

0.9820359281437125

In [62]:
confusion_matrix(y_test,y_pred)

array([[150,  25],
       [  3, 164]])